<header class="site-header">
    <!-- header starts here -->
    <div class="top-bar">
        <div class="container">
           <div class="top-menus-wrap">
            <button class="menu-toggle" type="button">
                <span><i class="fas fa-bars"></i></span> Menu
            </button>
            <a [routerLink]="[ '/' ]" class="brand-name"><img src="./assets/images/logo.svg"></a>
            <button class="toolbox mob-hide" type="button">
                <span><i class="fas fa-wrench"></i></span> Toolbox
            </button>
            <!-- only for mobile -->
            <ul class="mob-side-menus">
                <!-- <li class="user">
                    <span>
                        <i class="fas fa-user"></i>
                    </span>
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 19px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" [routerLink]="[ '/' ]" (click)="auth.logout()">Logout</a>
                        </div>
                    </div>
                </li> -->
            <li>
            <button class="toolbox" type="button">
                <span><i class="fas fa-wrench"></i></span> Toolbox
            </button>
          </li>
          <li>
              <div class="icon-grp">
                 <a href="javascript:void(0);" class=""><i class="fas fa-envelope"></i></a>
                  <a href="javascript:void(0);" class="fav-list">
                        <i class="fas fa-heart"></i>
                        <sup>2</sup>
                    </a>
              </div>
          </li>
  
        </ul>
       </div>
        <!-- ------------------------ -->
        </div>
    </div>
    
    <div class="header-links-wrap">
        <div class="container">
            <ul class="head-links">
                <li><a [routerLink]="[ '/' ]">Home</a></li>
                <li><a routerLink="/vendor-register">New Vendors</a></li>
                <li class="mob-hide">
                    <a href="javascript:void(0);" class="fav-list">
                        <i class="fas fa-heart"></i>
                        <sup>2</sup>
                    </a>
                </li>
                <li>
                    <div class="header-btns">
                        <ng-container *ngIf="auth.currentUserValue; else elseTemplate">
                                <a [routerLink]="[ '/'+auth.currentUserValue.role.toLowerCase() ]" 
                                class="cstm-btn solid-btn">{{auth.currentUserValue.firstName}} {{auth.currentUserValue.lastName}}</a>
                                <a [routerLink]="[ '/' ]" (click)="auth.logout()" class="cstm-btn solid-btn">Logout</a>                            
                        </ng-container>
                        <ng-template #elseTemplate>
                            <a [routerLink]="[ '/login' ]" class="cstm-btn solid-btn">Login</a>
                            <a [routerLink]="[ '/user-register' ]" class="cstm-btn">Sign Up</a>
                        </ng-template>
                        
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
  
       <!--For Menu-->
<app-menu></app-menu>

  <!--For toolbox-->
<app-toolbox></app-toolbox>
   
  
    <a href="javascript:void(0);" id="calender-toggle"><span><i class="fas fa-calendar-alt"></i></span></a>
  </header>
