
<section class="log-sign-banner" style="background-image:url('./assets/images/banner-bg.png');">
   <div class="container">
         <div class="signUp-form-wrap mr-top">
               <div class="container">
                     <div class="conformation-msg-card">
                        <div class="card-msg-icon">
                              <span *ngIf="message"><i class="fas fa-check-circle"></i></span>
                              <span *ngIf="errorM" style="color: red;"><i class="fas fa-times-circle"></i></span>
                        </div>
                  
                        <div *ngIf="message" class="verification-msg"><h3>{{message}}</h3></div>
                        <div *ngIf="errorM" class="verification-err-msg"><h3>{{errorM}}</h3></div>
                        <div class="btn-wrap text-center mt-4">
                        <a [routerLink]="[ '/login' ]" class="cstm-btn solid-btn">Login</a>
                        </div>
                     </div>
                  </div>
         </div>
   </div>
</section>
