<footer class="site-footer">
    <div class="container">
        <div class="ftr-content">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <a href="index.html" class="ftr-logo" data-aos="fade-right" data-aos-duration="3000"><img src="./assets/images/logo.svg"></a>
                </div>
                <div class="col-lg-2 col-md-2 col-6">
                    <div class="ftr-links-wrap" data-aos="fade-right" data-aos-duration="3000">
                        <h3>Envisiun</h3>
                        <ul class="ftr-links">
                            <li><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">About Us</a></li>
                            <li><a href="javascript:void(0);">FAQ</a></li>
                            <li><a href="javascript:void(0);">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-6">
                    <div class="ftr-links-wrap" data-aos="fade-right" data-aos-duration="3000">
                        <h3>Vendors</h3>
                        <ul class="ftr-links">
                            <li><a href="javascript:void(0);">Venues</a></li>
                            <li><a href="javascript:void(0);">Caterers</a></li>
                            <li><a href="javascript:void(0);">Photographers</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-6">
                    <div class="ftr-links-wrap" data-aos="fade-right" data-aos-duration="3000">
                        <h3>terms</h3>
                        <ul class="ftr-links">
                            <li><a href="javascript:void(0);">Terms And Conditions</a></li>
                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-2 col-6 res-full-width">
                    <div class="ftr-links-wrap" data-aos="fade-right" data-aos-duration="3000">
                        <h3>Let's Connect</h3>
                        <ul class="social-links">
                            <li><a href="javascript:void(0);"><span><i class="fab fa-facebook-f"></i></span></a></li>
                            <li><a href="javascript:void(0);"><span><i class="fas fa-envelope"></i></span></a></li>
                            <li><a href="javascript:void(0);"><span><i class="fab fa-twitter"></i></span></a></li>
                            <li><a href="javascript:void(0);"><span><i class="fab fa-instagram"></i></span></a></li>
                            <li><a href="javascript:void(0);"><span><i class="fab fa-linkedin-in"></i></span></a></li>
                            <li><a href="javascript:void(0);"><span><i class="fab fa-skype"></i></span></a></li>
                            <li><a href="javascript:void(0);"><span><i class="fab fa-whatsapp"></i></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ftr-bottom-bar">
            <p class="copy-right-text">© 2019 Envisiun.</p>
            <ul class="social-links">
                <li><a href="javascript:void(0);"><span><i class="fab fa-facebook-f"></i></span></a></li>
                <li><a href="javascript:void(0);"><span><i class="fab fa-twitter"></i></span></a></li>
                <li><a href="javascript:void(0);"><span><i class="fab fa-instagram"></i></span></a></li>
                <li><a href="javascript:void(0);"><span><i class="fab fa-linkedin-in"></i></span></a></li>
            </ul>
        </div>
    </div>
  </footer>