<!-- <app-inner-header></app-inner-header> -->
<section class="log-sign-banner" style="background-image:url('./assets/images/banner-bg.png');">
      <div class="container">
            <div class="signUp-form-wrap mr-top">
                  <div class="container" *ngIf="auth.currentUserValue">
                        <div class="conformation-msg-card">
                           <div class="card-msg-icon">
                                 <span><i class="fas fa-check-circle"></i></span>
                           </div>
                           <div class="verification-msg"><h3>Welcome {{auth.currentUserValue.firstName}} {{auth.currentUserValue.lastName}} You have Logged-In</h3></div>
                        </div>
                     </div>
            </div>
      </div>
   </section>
   <!-- <app-footer></app-footer> -->
   
   