<nav id="tool-nav" class="">
    <div class="container">
        <ul id="menus-list" class="menu-list">
            <li>
                <a href="javascript:void(0);">
                  <span class="nav-item-icon"><img src="./assets/images/event-listing.png"/></span>
                               <h3>Event Checklist</h3>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="nav-item-icon">
                            <img src="./assets/images/budgeting-tool.png"/>
                    </span>
                    <h3>Budgeting tool</h3>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="nav-item-icon">
                            <img src="./assets/images/guest-list.png"/></span>
                    <h3>Guest List</h3>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="nav-item-icon">
                            <img src="./assets/images/calculators.png"/></span>
                    <h3>Calculator</h3>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="nav-item-icon">
                            <img src="./assets/images/forum.png"/></span>
                    <h3>Forum</h3>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="nav-item-icon">
                            <img src="./assets/images/vendor-manager.png"/></span>
                    <h3>Vendor Manager</h3>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <span class="nav-item-icon">
                            <img src="./assets/images/favourite.png"/></span>
                    <h3>Favorite</h3>
                </a>
            </li>

        </ul>
    </div>
    <a href="javascript:void(0);" (click)="close_nav()" class="nav-close-btn"><i class="fas fa-times"></i></a>
</nav>