<header class="site-header">
        <!-- header starts here -->
        <div class="top-bar inner-header">
            <div class="container">
              <div class="top-inner-nav mob-hide"> 
                <a [routerLink]="[ '/' ]" class="brand-name"><img src="./assets/images/logo.svg"></a>
                <button class="menu-toggle" type="button">
                    <span><i class="fas fa-bars"></i></span> Menu
                </button>
                
                <ul class="inn-top-navigation">
                    <li><a [routerLink]="[ '/' ]">Home</a></li>
                    <li *ngIf="!auth.currentUserValue"><a routerLink="/vendor-register">New Vendors</a></li>
                    <li>
                        <a href="javascript:void(0);"><i class="fas fa-heart"></i></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="user">
                        <span *ngIf="auth.currentUserValue">
                            <i class="fas fa-user"></i>
                        </span>
                        <ng-container *ngIf="auth.currentUserValue; else elseTemplate1">
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{auth.currentUserValue.firstName}} {{auth.currentUserValue.lastName}} </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" [routerLink]="[ '/'+auth.currentUserValue.role.toLowerCase() ]">Profile</a>
    
                                    <a class="dropdown-item" [routerLink]="[ '/' ]" (click)="auth.logout()">Logout</a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate1>
                            <div class="header-btns">
                                <a [routerLink]="[ '/login' ]" class="cstm-btn solid-btn">Login</a>
                                <a [routerLink]="[ '/user-register' ]" class="cstm-btn">Sign Up</a>
                            </div>
                        </ng-template>
                        
                    </li>
                </ul>
                <button class="toolbox" type="button">
                    <span><i class="fas fa-wrench"></i></span> Toolbox
                </button>
              </div>
             <div class="top-Mob-nav">
                 <div class="top-menus-wrap">
                <button class="menu-toggle" type="button">
                    <span><i class="fas fa-bars"></i></span> Menu
                </button>
                <a [routerLink]="[ '/' ]" class="brand-name"><img src="./assets/images/logo.svg"></a>
                <button class="toolbox mob-hide" type="button">
                    <span><i class="fas fa-wrench"></i></span> Toolbox
                </button>
                <!-- only for mobile -->
                <ul class="mob-side-menus">
                    <li class="user">
                        <span *ngIf="auth.currentUserValue">
                            <i class="fas fa-user"></i>
                        </span>

                        <ng-container *ngIf="auth.currentUserValue; else elseTemplate">
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{auth.currentUserValue.firstName}} {{auth.currentUserValue.lastName}} </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" [routerLink]="[ '/'+auth.currentUserValue.role.toLowerCase() ]">Profile</a>
    
                                    <a class="dropdown-item" [routerLink]="[ '/' ]" (click)="auth.logout()">Logout</a>
                                </div>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <!-- <div class="header-btns">
                                <a href="javascript:void(0);" class="cstm-btn solid-btn">Login</a>
                                <a href="javascript:void(0);" class="cstm-btn">Sign Up</a>
                            </div> -->
                        </ng-template>
                    </li>
                <li>
                <button class="toolbox" type="button">
                    <span><i class="fas fa-wrench"></i></span> Toolbox
                </button>
              </li>
              <li>
                  <div class="icon-grp">
                     <a href="javascript:void(0);" class=""><i class="fas fa-envelope"></i></a>
                      <a href="javascript:void(0);" class="fav-list">
                            <i class="fas fa-heart"></i>
                            <sup>2</sup>
                        </a>
                  </div>
              </li>

            </ul>
           </div>
            </div>
        </div>
        </div>

   <!--For Menu-->
   <app-menu></app-menu>

   <!--For toolbox-->
 <app-toolbox></app-toolbox>

        <a href="javascript:void(0);" id="calender-toggle">
          <span><i class="fas fa-calendar-alt"></i></span>
        </a>
       
    </header>